/**************************************************
 * PAGE STRUCTURE
 **************************************************/
#wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
}

#header {
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
	z-index: 9999;
	position: fixed;
	background: white;
	box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	text-align: center;
}

#content {
	margin-top: 100px;
	width: 100%;
	position: relative;
}

#footer {
	width: 100%;
	height: 200px;
	background: black;
	position: relative;
}

/**************************************************
 * ELEMENT STRUCTURE
 **************************************************/
.container {
	left: 20%;
}

/**************************************************
 * HEADER INNER
 **************************************************/
#header-inner {
	width: 100%;
	height: 100%;
	position: relative;
}

/**************************************************
 * TEXT STYLING
 **************************************************/
span {
	font-family: 'Abel', sans-serif;
}

#title {
	font-size: 24px;
	color: black;
}

#status {
	font-size: 24px;
	color: green;
	float: right;
}